@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    article {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 769px) {
    article {
        flex-direction: row;
        text-align: left;
    }
}

body{
    background-color: black;
    color: white;
    margin: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: row;
    margin: 2em;
}

.image-container{
    width: fit-content;
    margin: auto;
}

.nome-atleta{
    text-align: center;
    text-transform: uppercase;
    font-family: Alumni Sans Inline One;
    font-size: 1.7em;
}

.voltar{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 2em;
    font-family: Neuton;
}
